body {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 2em;
  font-size: 3em;
}

button {
  margin-top: 1em;
  padding: 0em;
  height: 3em;
  width: 12em;
  border: 1px solid black;
  font-size: 100%;
  text-align: center;
  position: relative;
  top: 15em;
}
